
a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}


.baker-park-Page {
    text-align: initial;
    background-color: #CBD2D0;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #61dafb;
}

.baker-park-Page-Header {
    text-align: center;
    background-color: black;
    height: 150px;
}



.baker-park-Page-Home-Link {
    padding-top: 10px;
    font-size: 40px;
    display: block;
}



.baker-park-Page-Body {
    font-size: 40px;
    text-align: center;
    height: 1170px;
    padding-left: 40px;
    padding-top: 30px;
    color: black;
}

.baker-park-Location-List {
    text-align: left;
    font-size: 32px;
}